@use '../utilities/extend';
@use '../utilities/variables';

.btn {
  @extend %button;
}

.buttons {
  margin-top: 60px;
  .twitch {
     background-color: variables.$marca-color;
     color: variables.$main-color;
        &:hover {
            background-color: rgba(255, 101, 0, 0.95);
            transform: scale(1.1);
        }
    } 

 .kick {
     background-color: #14a407;
     color: variables.$main-color;
    ;
        &:hover {
            background-color: #14a407;
            transform: scale(1.1);
        }
   }
 
}
