@use '../utilities/variables';

// CARDS DE 'SOBRE MI'

.card {
  background-color: transparent;
  border-color: transparent;
    .card-title1 {
        color: variables.$marca-color;
      
    }

    .card-title2 {
        color: variables.$marca-color;
    } 
    .card-text {
          font-size: variables.$p-size;
        }  

}


/* MEDIA QUERIES */
@media (max-width: 450px) {

  .card p{
    font-size: 20px;
  }

}

@media (min-width: 451px) and (max-width: 900px) {
  .card h1 {
  font-size: 32px;
}
.card p{
  width: 350px;

}  
  
}


