@use '../utilities/mixins';
@use '../utilities/variables';

// CONTENEDOR 
.container {
    @include mixins.flex(row,space-between, center, wrap);
    background-color: variables.$bg-color;
  
}

.welcome-container {
  max-width: 400px;
    h1 {
     color: variables.$main-color;   
     font-size: variables.$main-size;
     margin-bottom: 20px;
     span {
         color: #ff6500;
        }
    }
}

p {
  color: variables.$main-color;
}

h2 {
  color: #ff6500;
}

.character img {
  max-height: 700px;
  
}

/* MEDIA QUERIES */
@media (max-width: 450px) {
  body {
    margin-top: 120px;
    margin-left: 20px;
  } 

  .container {
      flex-direction: column;
      gap: 30px;
    }
   footer {
     flex-direction: column;
   }
}

@media (min-width: 451px) and (max-width: 900px) {
  body {
    margin-left: 20px;
  }
.container {
      gap: 30px;
     }
}


  
      