@use '../utilities/variables';
@use '../utilities/extend';

// FORMULARIO DE CONTACTO

.form-floating {
  margin-top: 16px;
  max-width: 500px;
  
}

.buttons {
    margin-top: 15px;
    
}

.submit { 
    @extend %button;
    width: 400px;
    cursor: pointer;
    color: variables.$main-color;
    background-color: variables.$marca-color;
}

/* MEDIA QUERIES */
@media (max-width: 450px) {
  body {
    margin-top: 120px;
    margin-left: 20px;
    
  } 
  
  .logo {
    margin-top: 30px;
    width: 400px;
    height: 250px;
    grid-area: logo;

   }

   nav ul {
  
    grid-area: ul;
    gap: 50px;
   }
   .navbar {
    display: grid;
    grid-template-areas: 
        "logo logo logo logo logo"
        "ul ul ul ul ul";
    grid-template-rows: 10px 90px;
    grid-template-columns: repeat(5, 1fr);
    gap: 80px;
   }

   .container {
    flex-direction: column;

   }

   footer {
    flex-direction: column;
   }
}