@use '../utilities/mixins';
@use '../utilities/variables';
@use '../utilities/extend';


// FORMULARIO DE CONTACTO
.container {
  @include mixins.flex(row, space-between,center,wrap);
  
}
.welcome-container {
  max-width: 400px;
  .card-title1 {
      margin-top: 50px;
      color: variables.$marca-color;   
      font-size: variables.$tittle-size;
      margin-bottom: 20px;
    }
  
}



.form-floating { 
  margin-top: 16px;
  max-width: 500px;
  
  
}


.buttons {
    margin-top: 15px;
    
}

.submit { 
    @extend %button;
    width: 400px;
    cursor: pointer;
    color: variables.$main-color;
    background-color: variables.$marca-color;
      &:hover {
        opacity: 80%;
        background-color: rgba(255, 101, 0, 0.95);
        transform: scale(1.1)
      }
}


.character img {
  max-height: 700px;
  
}




