@use '../utilities/variables';
@use '../utilities/extend';

// FORMULARIO DE CONTACTO

.form-floating {
  margin-top: 16px;
  max-width: 500px;
  
}

.buttons {
    margin-top: 15px;
    
}

.submit { 
    @extend %button;
    width: 400px;
    cursor: pointer;
    color: variables.$main-color;
    background-color: variables.$marca-color;
      &:hover {
        opacity: 80%;
        background-color: rgba(255, 101, 0, 0.95);
        transform: scale(1.1)
      }
}



