@use '../utilities/mixins';
@use '../utilities/variables';

nav {
    @include mixins.flex(row, stretch, space-between, nowrap);
    background-color: variables.$bg-color;

    .logo {
        width: 300px; 
        height:240px;
    }

    ul {
        @include mixins.flex(row, center, center, nowrap);
        color: variables.$main-color;
        gap: 16px;
        padding: 18px;
    
        .nav-item {
            list-style-type: none;
            .nav-link {
                text-decoration: none;
                color: variables.$main-color;
                font-size: variables.$p-size;
                &:hover {
                    color: #ff6500;
                    
                }
            }
        }
    }
}
/* MEDIA QUERIES */
@media (max-width: 450px) {

.logo {
      
      width: 400px;
      height: 250px;
      grid-area: logo;
  }
   
  nav ul {
    color: variables.$main-color;
      grid-area: ul;
      gap: 10px;
    }
  .navbar {
    display: grid;
    grid-template-areas: 
        "logo logo logo logo logo"
  }

 }

 @media (min-width: 451px) and (max-width: 900px) {
    nav ul {
      gap: 40px;
    }
}
