@use '../utilities/mixins';
@use '../utilities/variables';

nav {
    @include mixins.flex(row, stretch, space-between, nowrap);
    background-color: variables.$bg-color;

    .logo {
        width: 300px; 
        height:240px;
    }

    ul {
        @include mixins.flex(row, center, center, nowrap);
        color: variables.$main-color;
        gap: 16px;
        padding: 18px;
    
        .nav-item {
            list-style-type: none;
            .nav-link {
                text-decoration: none;
                color: variables.$main-color;
                font-size: variables.$p-size;
                &:hover {
                    color: #ff6500;
                    
                }
            }
        }
    }
}

/* MEDIA QUERIES */
@media (max-width: 450px) {
    body {
        margin-left: 25px;
    }

    .logo {
      
      width: 400px;
      height: 250px;
      grid-area: logo;
    }
   
    .navbar-toggler {
    margin-left: 25px;
     border-color: variables.$marca-color;
        
    }

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 101, 0, 1)' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        }

        .container{
        margin-left: 25px;
        
    }

    footer {
        margin-left: 80px;
    }

    }





@media (min-width: 451px) and (max-width: 900px) {
   
    .navbar-toggler {
    border-color: variables.$marca-color;
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 101, 0, 1)' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
            }
    }

    .container{
        margin-left: 20px;
        
    }

    footer {
        margin-left: 70px;
    }

    
}
