@use '../utilities/variables';
/* fuente Squada One */
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

body {
    font-family: "Squada One", sans-serif;
    background-color: variables.$bg-color;
    margin: 20px 80px 20px 80px;
    
}