//COLORES
$main-color: #ffffff;
$bg-color: #0b192c;
$marca-color: #ff6500;

//TAMANO FUENTES
$main-size: 76px; // este tama;o es solo para HOME welcome container
$tittle-size: 56px; 
$p-size: 18px;
$btn-size: 30px;
