/* fuente Squada One */
@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Squada One", sans-serif;
  background-color: #0b192c;
  margin: 20px 80px 20px 80px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: space-between;
  flex-wrap: nowrap;
  background-color: #0b192c;
}
nav .logo {
  width: 300px;
  height: 240px;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  color: #ffffff;
  gap: 16px;
  padding: 18px;
}
nav ul .nav-item {
  list-style-type: none;
}
nav ul .nav-item .nav-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}
nav ul .nav-item .nav-link:hover {
  color: #ff6500;
}

/* MEDIA QUERIES */
@media (max-width: 450px) {
  .logo {
    width: 400px;
    height: 250px;
    grid-area: logo;
  }
  nav ul {
    color: #ffffff;
    grid-area: ul;
    gap: 10px;
  }
  .navbar {
    display: grid;
    grid-template-areas: "logo logo logo logo logo";
  }
}
@media (min-width: 451px) and (max-width: 900px) {
  nav ul {
    gap: 40px;
  }
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #0b192c;
}

.welcome-container {
  max-width: 400px;
}
.welcome-container h1 {
  color: #ffffff;
  font-size: 76px;
  margin-bottom: 20px;
}
.welcome-container h1 span {
  color: #ff6500;
}

p {
  color: #ffffff;
}

h2 {
  color: #ff6500;
}

.character img {
  max-height: 700px;
}

/* MEDIA QUERIES */
@media (max-width: 450px) {
  body {
    margin: 10px;
  }
  .container {
    flex-direction: column;
    gap: 30px;
  }
  footer {
    flex-direction: column;
  }
}
@media (min-width: 451px) and (max-width: 900px) {
  body {
    margin-left: 20px;
  }
  .container {
    gap: 30px;
  }
}
.submit, .btn {
  padding: 10px 20px;
  font-size: 30px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.buttons {
  margin-top: 60px;
}
.buttons .twitch {
  background-color: #ff6500;
  color: #ffffff;
}
.buttons .twitch:hover {
  background-color: rgba(255, 101, 0, 0.95);
  transform: scale(1.1);
}
.buttons .kick {
  background-color: #14a407;
  color: #ffffff;
}
.buttons .kick:hover {
  background-color: #14a407;
  transform: scale(1.1);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.welcome-container {
  max-width: 400px;
}
.welcome-container .card-title1 {
  margin-top: 50px;
  color: #ff6500;
  font-size: 56px;
  margin-bottom: 20px;
}

.form-floating {
  margin-top: 16px;
  max-width: 500px;
}

.buttons {
  margin-top: 15px;
}

.submit {
  width: 400px;
  cursor: pointer;
  color: #ffffff;
  background-color: #ff6500;
}
.submit:hover {
  opacity: 80%;
  background-color: rgba(255, 101, 0, 0.95);
  transform: scale(1.1);
}

.character img {
  max-height: 700px;
}

.card {
  background-color: transparent;
  border-color: transparent;
}
.card .card-title1 {
  color: #ff6500;
}
.card .card-title2 {
  color: #ff6500;
}
.card .card-text {
  font-size: 18px;
}

/* MEDIA QUERIES */
@media (max-width: 450px) {
  .card p {
    font-size: 20px;
  }
}
@media (min-width: 451px) and (max-width: 900px) {
  .card h1 {
    font-size: 32px;
  }
  .card p {
    width: 350px;
  }
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 80px;
  background-color: rgba(14, 24, 38, 0.8);
}

p {
  margin-top: 15px;
}

.icon-redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.icon-redes a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60px;
}

.icon-redes img {
  width: 200px;
}

/*# sourceMappingURL=style.css.map */
