/* fuente Squada One */
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
* {
    margin: 0;
    padding: 0;

}
body {
    font-family: "Squada One", sans-serif;
    background-color:#0b192c;
    margin: 20px 80px 20px 80px;
    
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0b192c;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 18px;
    
}
h1 {
    color: #ffffff;
    font-size: 96px;
}

.marca {
    color:#ff6500 ;
}

p {
    color: #ffffff;
    font-size: 18px;
}

.li-nav {
    list-style-type: none;
}

.a-nav {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

.welcome-section {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

main {
    margin-left: 40px;
    margin-right: 40px;
}


.welcome-container {
  max-width: 400px;
}

.welcome-container h1 {
  font-size: 76px;
  margin-bottom: 20px;
}

.welcome-container h1 span {
  color: #ff6500;
}

.buttons {
  margin-top: 60px;
}

.btn {
  padding: 10px 20px;
  font-size: 30px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.twitch {
  background-color: #ff6500;
  color: white;
}

.kick {
  background-color: #1e3e62;
  color: white;
}

.character img {
  max-height: 400px;
  max-width: 400px;
}

label {
    color: #ffffff;
}

footer {
    margin: 60px 40px;
}

footer p {
    color: #ffffff;
}

